
@{
    ViewData["Title"] = "Story Pointing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!--Join div-->
    <div class="col-md-6">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Join a Table</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/Poker/Join" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="UserName">User Name</label>
                                <input type="text" class="form-control" name="UserName" placeholder="Enter your Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="TableId">Table ID</label>
                                <input type="text" class="form-control" name="TableId" placeholder="Enter Table ID">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="IsVoting">What will be your role at the table?</label>
                                <!-- radio -->
                                <div class="form-group clearfix">
                                    <div class="icheck-danger d-inline">
                                        <input type="radio" name="IsVoting" value="true">
                                        <label for="IsVoting">
                                            Voter
                                        </label>
                                    </div>
                                    <div class="icheck-danger d-inline">
                                        <input type="radio" name="IsVoting" value="false">
                                        <label for="IsVoting">
                                            Observer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="text-center col-sm-6">
                        <button type="submit" class="btn btn-warning float-left" style="margin-right: 5px;">Join</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div><!-- /.join div-->
    <!--Create div-->
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create a Table</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/Poker/Create" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="TableName">Team Name</label>
                                <input type="text" class="form-control" name="TableName" placeholder="Enter Team Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="UserName">User Name</label>
                                <input type="text" class="form-control" name="UserName" placeholder="Enter Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="IsVoting">What will be your role at the table?</label>
                                <!-- radio -->
                                <div class="form-group clearfix">
                                    <div class="icheck-danger d-inline">
                                        <input type="radio" name="IsVoting" value="true">
                                        <label for="IsVoting">
                                            Voter
                                        </label>
                                    </div>
                                    <div class="icheck-danger d-inline">
                                        <input type="radio" name="IsVoting" value="false">
                                        <label for="IsVoting">
                                            Observer
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="text-center col-sm-6">
                        <button type="submit" class="btn btn-success float-left" style="margin-right: 5px;">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div> <!-- /.create div-->
</div>