@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout_full.cshtml";
}

<!-- Info boxes -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-dice"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Active story pointing boards</span>
                <span class="info-box-number">
                    wip
                    @*<small>%</small>*@
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class=" far fa-comments"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Active retro boards</span>
                <span class="info-box-number">wip</span>
            </div>
            <!-- /.info-box-content-->
        </div>
        <!-- /.info-box-->
    </div>
    <!-- /.col-->
</div>

<!-- jQuery -->
<script src="~/js/jquery/jquery.min.js"></script>